@import "tailwindcss";

:root {
  --background: #F5F5F7;
  --foreground: #171717;
}

@theme {
  --color-sakura-25: #F3E6EA;
  --color-sakura-50: #FFF1F3;
  --color-sakura-100: #FADADD;
  --color-sakura-200: #F4B6C2;
  --color-sakura-300: #EFA1B2;
  --color-sakura-400: #FF6F91;
  --color-sakura-500: #F06292;
  --color-sakura-600: #EC407A;
  
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  #__next {
    width: 100%;
    max-width: 428px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    background: white;
  }
}
